# devcontainers
.env
.env.*
!.env.example
.devcontainer/**/.env
.devcontainer/**/.env.*
!.devcontainer/**/.env.example
docker-compose.override.yml

# keys
*.pem
*.key
id_rsa*
id_ed25519*
known_hosts

# system
.DS_Store
Thumbs.db
Desktop.ini
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*secret*