{% set result = [] %}
{% set virtual_interfaces = interfaces | selectattr("type.value", "equalto", "virtual") | list %}

{% for interface in virtual_interfaces %}
  {% if interface.ip_addresses is defined and interface.ip_addresses | length > 0 %}
    {% set ipv4_addresses = interface.ip_addresses | selectattr("family.value", "defined") | selectattr("family.value", "equalto", 4) | list %}
    {% set ipv6_addresses = interface.ip_addresses | selectattr("family.value", "defined") | selectattr("family.value", "equalto", 6) | list %}

    {% if ipv4_addresses | length > 0 or ipv6_addresses | length > 0 %}
      {% set interface_entry = {"name": interface.name, "autostate": true} %}

      {% if ipv4_addresses | length > 0 %}
        {% set primary_ips = [] %}
        {% set secondary_ips = [] %}

        {% for ip in ipv4_addresses %}
          {% if ip.role is none %}
            {% set _ = primary_ips.append(ip) %}
          {% elif ip.role.value | default("") == "secondary" %}
            {% set _ = secondary_ips.append(ip) %}
          {% endif %}
        {% endfor %}

        {% if primary_ips | length > 0 %}
          {% set ipv4_list = [{"address": primary_ips[0].address}] %}
          {% for secondary_address in secondary_ips %}
            {% set _ = ipv4_list.append({"address": secondary_address.address, "secondary": true}) %}
          {% endfor %}
          {% set _ = interface_entry.update({"ipv4": ipv4_list}) %}
        {% endif %}
      {% endif %}

      {% if ipv6_addresses | length > 0 %}
        {% set ipv6_list = [] %}
        {% for ipv6_address in ipv6_addresses %}
          {% set _ = ipv6_list.append({"address": ipv6_address.address}) %}
        {% endfor %}
        {% set _ = interface_entry.update({"ipv6": ipv6_list}) %}
      {% endif %}

      {% set _ = result.append(interface_entry) %}
    {% endif %}
  {% endif %}
{% endfor %}

{{ result | to_nice_yaml(indent=2) }}