[defaults]
roles_path = ./roles_external:./roles_local
collections_path = ./collections
inventory = ./inventories
playbook_dir = ./playbooks

interpreter_python = auto_silent

host_key_checking = false
pipelining = true

callback_result_format = json
callback_format_pretty = true

diff = true

[inventory]
cache = true
cache_plugin = ansible.builtin.jsonfile
cache_timeout = 3600
cache_connection = /dev/shm/ansible_cache